<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="22372TMKDEV.TVOmote" Publisher="CN=E46D6EF9-59D7-436B-8FCC-034A25A3FC8A" Version="1.1.0.2" />
  <Properties>
    <DisplayName>TVOmote</DisplayName>
    <PublisherDisplayName>TMKDEV</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Tivomote.App">
      <m2:VisualElements DisplayName="TVOmote" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="TVOmote - a remote control application for controlling your TiVo over your home network." ForegroundText="light" BackgroundColor="#FFcc00">
        <m2:DefaultTile ShortName="TVOmote" DefaultSize="square150x150Logo">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ffcc00" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>